{% extends 'base.html.twig' %}

{% block body %}
<div class="auth-layout d-flex min-vh-100 align-items-center justify-content-center p-5">
    {# Hexagones animés #}
    <div class="anidiv">
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
    </div>

    <div class="container" style="max-width: 586px;">
        {% block auth_content %}{% endblock %}
    </div>
</div>
{% endblock %}
