{% extends 'base.html.twig' %}

{% block body %}
<div class="auth-layout">
    {# Hexagones animés #}
    <div class="anidiv">
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
        <div><img src="{{ asset('images/svgs/hexagon.svg') }}" alt=""></div>
    </div>

    <div class="auth-container">
        {% block auth_content %}{% endblock %}
    </div>
</div>
{% endblock %}
